@model WebPicker.Models.GameViewModels.PlayViewModel

@{
    ViewData["Title"] = "Play" + Model.GameId;
}

<h2>Play</h2>

<form asp-action="Play" method="post">
    <div class="form-horizontal">
        <h4>Game @Model.GameId</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <div class="col-md-10">
                <p>@Html.DisplayFor(m => m.GameState)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>
                    <b>@Html.DisplayFor(m => m.Lifes)</b> <i class="fa fa-heart" aria-hidden="true"></i>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 bg-warning">
                <p>@Html.DisplayFor(m => m.Result)</p>
            </div>
        </div>

        <div class="hidden form-group">
            <label asp-for="GameId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GameId" class="form-control" />
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
        </div>
        <div class="hidden form-group">
            <label asp-for="GameState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GameState" class="form-control" />
                <span asp-validation-for="GameState" class="text-danger"></span>
            </div>
        </div>
        <div class="hidden form-group">
            <label asp-for="Lifes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Lifes" class="form-control" />
                <span asp-validation-for="Lifes" class="text-danger"></span>
            </div>
        </div>
        <div class="hidden form-group">
            <label asp-for="Result" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="col-sm-1 control-label"></label>
            <div class="col-sm-2">
                <input type="text" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <input type="submit" value="Pick" class="col-sm-1 btn btn-default" />
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back", "Details", "Lobby", null, null, null, new { gameId = Model.GameId }, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
